.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 34px;
    margin: 10px;
    margin-left: 135px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b2dbe7;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #f3bb21;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(165px);
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
  }

  .background{
   background-color: white;
    }
  .bg{
        height: 625px;
    }
    .tex{
        font-weight: bold;
        font-size:large;
    }
    .container {
      background-image: url('E:\HSC training\event-management-frontend\pages\banner.jpg');
      background-size: cover;
      background-position: center;
    }
    .te{
      color: #da2b14 ;
      font-size: medium;
      font-weight: 500;
    }
    .t{
      font-weight: 500;
    }
